<div class="container-fluid" style="margin-top:30px; margin-left : 10px">
    <div class="row">
        <div class="col-sm-2">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg"></div>
        </div>
        <div class="col-sm-10">
            <div class="container-fluid">
                <h1>List of my projects</h1>
                <table class="table table-hover searchable sortable">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">With</th>
                    </tr>
                    </thead>

                    <tbody>

                    {{#each projects}}

                        <tr>

                            <td> <a href="/project/{{this._id}}">{{this.name}}</a></td>
                            <td>{{#each this.members}}{{this.firstname}} {{this.name}}, {{/each}}</td>

                        </tr>

                    {{/each}}

                    </tbody>
                </table>
                <a href="/project/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-bottom : 10px">Add new project</a>

                <h1>List of my tasks</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Edit task</th>
                    </tr>
                    </thead>

                    <tbody>

                    {{#each mytasks}}

                        <tr>

                            <td> <a href="/task/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.desciption}}</td>
                            <td>{{this.project.name}}</td>
                            <td>{{this.status.name}}</td>
                            <td>{{this.start_date}}</td>
                            <td>{{this.due_date}}</td>
                            <td><a href="/task/{{this._id}}/modify"><img src="https://img.icons8.com/metro/26/000000/edit-property.png"></a></td>


                        </tr>

                    {{/each}}

                    </tbody>
                </table>

                <h1>List of my finished tasks</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Edit task</th>
                    </tr>
                    </thead>

                    <tbody>

                    {{#each myfinishedtasks}}

                        <tr>

                            <td> <a href="/task/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.desciption}}</td>
                            <td>{{this.project.name}}</td>
                            <td>{{this.status.name}}</td>
                            <td>{{this.start_date}}</td>
                            <td>{{this.due_date}}</td>
                            <td><a href="/task/{{this._id}}/modify"><img src="https://img.icons8.com/metro/26/000000/edit-property.png"></a></td>


                        </tr>

                    {{/each}}

                    </tbody>
                </table>


                <h1>Task lists of the project of your choice</h1>

                <h3>My tasks of this project</h3>

                <table id ="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit task</th>
                    </tr>
                    </thead>

                    <tbody>



                    {{#each myprojectstasks}}

                        <tr>

                            <td> <a href="/task/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.assignee.firstname}} {{this.assignee.name}}</td>
                            <td>{{this.status.name}}</td>
                            <td><a href="/task/{{this._id}}/modify"><img src="https://img.icons8.com/metro/26/000000/edit-property.png"></a></td>

                        </tr>

                    {{/each}}

                    </tbody>
                </table>

                <h3>Others tasks of this project</h3>

                <table id ="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit task</th>
                    </tr>
                    </thead>

                    <tbody>



                    {{#each othersprojectstasks}}

                        <tr>

                            <td> <a href="/task/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.assignee.firstname}} {{this.assignee.name}}</td>
                            <td>{{this.status.name}}</td>
                            <td><a href="/task/{{this._id}}/modify"><img src="https://img.icons8.com/metro/26/000000/edit-property.png"></a></td>

                        </tr>

                    {{/each}}

                    </tbody>
                </table>

                <a href="/project/{{object._id}}/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-bottom : 10px">Add new task to this project</a>

            </div>
        </div>
    </div>
</div>



