<div class="container-fluid" style="margin-top:30px; margin-left : 10px">
    <div class="row">
        <div class="col-sm-2">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg"></div>
        </div>
        <div class="col-sm-10">
            <div class="container-fluid">
                <h1>My projects</h1>
                <table class="table table-hover searchable sortable">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">With</th>
                    </tr>
                    </thead>

                    <tbody>

                    {{#each projects}}

                        <tr>

                            <td><a href="/project/{{this._id}}">{{this.name}}</a></td>
                            <td>{{#each this.members}}{{this.firstname}} {{this.name}}, {{/each}}</td>

                        </tr>

                    {{/each}}

                    </tbody>
                </table>

                <h1 id="try">My tasks</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                    </tr>
                    </thead>

                    <tbody>

                    {{#each mytasks}}

                        <tr>

                            <td><a href="/task/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.desciption}}</td>
                            <td>{{this.project.name}}</td>
                            <td>{{this.status.name}}</td>
                            <td>{{this.formatted_start_date}}</td>
                            <td>{{this.formatted_due_date}}</td>

                        </tr>

                    {{/each}}

                    </tbody>
                </table>

                <h1>My finished tasks</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                    </tr>
                    </thead>

                    <tbody>

                    {{#each myfinishedtasks}}
                        <tr>
                            <td><a href="/task/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.desciption}}</td>
                            <td>{{this.project.name}}</td>
                            <td>{{this.status.name}}</td>
                            <td>{{this.formatted_start_date}}</td>
                            <td>{{this.formatted_due_date}}</td>
                        </tr>
                    {{/each}}

                    </tbody>
                </table>

                <div style="border:1px solid black;">


                    <h1>Tasks of the project of my choice</h1>

                    <!-- To Search by project -->
                    <div class="form-group">
                        <label for="project">Project:</label>
                        <select class="form-control" name="project" id="project" onchange="filter(),filter2()" value="">
                            <option></option>
                            {{# each projects}}
                                <option>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <h3>My tasks of this project</h3>

                    <table id="myProjectTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="display:none;">Project</th>
                            <th scope="col">Status</th>
                            <th scope="col">Start date</th>
                            <th scope="col">Due date</th>
                        </tr>
                        </thead>

                        <tbody>

                        {{#each mytasks}}

                            <tr>

                                <td><a href="/task/{{this._id}}">{{this.name}}</a></td>
                                <td>{{this.desciption}}</td>
                                <td style="display:none;">{{this.project.name}}</td>
                                <td>{{this.status.name}}</td>
                                <td>{{this.formatted_start_date}}</td>
                                <td>{{this.formatted_due_date}}</td>


                            </tr>

                        {{/each}}

                        </tbody>
                    </table>

                    <h3>Others tasks of this project</h3>

                    <table id="otherProjectTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="display:none;">Project</th>
                            <th scope="col">Assignee</th>
                            <th scope="col">Status</th>
                            <th scope="col">Start date</th>
                            <th scope="col">Due date</th>
                        </tr>
                        </thead>

                        <tbody>

                        {{#each othersUsersTasks}}

                            <tr>

                                <td><a href="/task/{{this._id}}">{{this.name}}</a></td>
                                <td>{{this.desciption}}</td>
                                <td style="display:none;">{{this.project.name}}</td>
                                <td>{{this.assignee.firstname}} {{this.assignee.name}}</td>
                                <td>{{this.status.name}}</td>
                                <td>{{this.formatted_start_date}}</td>
                                <td>{{this.formatted_due_date}}</td>

                            </tr>

                        {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    // Fonction permettant de filter les t창ches en fonction du nom du projet pour les t창ches d'un utilisateur
    function filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("project");
        filter = input.value.toUpperCase();
        table = document.getElementById("myProjectTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    // Fonction permettant de filter les t창ches en fonction du nom du projet pour les t창ches des autres utilisateurs
    function filter2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("project");
        filter = input.value.toUpperCase();
        table = document.getElementById("otherProjectTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

