<div class="row">
    <div class="col-sm-2">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg"></div>
    </div>

    <div class="col-sm-8">
        <div class="container-fluid">
            <h2>{{project.name}}</h2>
            <h2>Modify task's information</h2>

            <form action="/project/add" method="post">

                <div class="form-group">
                    <label for="project_name">Nom du projet</label>
                    <input type="string" class="form-control" name="project_name" value={{project.name}}
                           aria-describedby="usernameHelp" placeholder="Enter new project name">
                </div>

                <div class="form-group">
                    <label for="members">Select members in the list:</label>
                    <select multiple class="form-control" name="members" id="members">
                        {{# each project.members}}
                            <option selected="selected">{{this.firstname}} {{this.name}}</option>
                        {{/each}}
                        {{# each other_users}}
                            <option>{{this.firstname}} {{this.name}}</option>
                        {{/each}}


                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


