<div class="row">
    <div class="col-sm-2">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg"></div>
    </div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <h2>{{task.name}}</h2>
            <h2>Modify task's information</h2>

            <form action="" method="post">

                <div class="form-group">
                    <label for="task_name">Name of the task</label>
                    <input type="string" class="form-control" name="task_name" placeholder="Enter new task's name" value="{{task.name}}">
                </div>

                <div class="form-group">
                    <label for="task_descr">Name of the task</label>
                    <input type="string" class="form-control" name="task_descr" value="{{task.description}}" placeholder="Enter new task's description">
                </div>

                <div class="form-group">
                    <label for="assignee">Assigned to:</label>
                    <select class="form-control" name="assignee" id="assignee">
                        <option selected="selected">{{task.assignee.firstname}} {{task.assignee.name}}</option>
                        {{# each project.members}}
                            <option id={{this.first}}>{{this.firstname}} {{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="start_date">Start date</label>
                    <input type="date" class="form-control" name="start_date" value="{{task.formatted_start_date}}" placeholder="Enter start date">
                </div>

                <div class="form-group">
                    <label for="due_date">Due date</label>
                    <input type="date" class="form-control" name="due_date" value="{{task.formatted_due_date}}" placeholder="Enter due date">
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="status" id="status">
                        <option selected="selected">{{task.status.name}}</option>
                        {{# each status}}
                            <option>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="progress">Task progress :</label>
                    <input type="text" style="border:none; margin: 0;" id="sliderValue" value="">
                    <p style="display : inline-block; margin : 0;"> %</p>
                    <input type="range" class="custom-range" name="progress" id="progress" value={{task.progress}}
                           onchange="updateTextInput(this.value);" onload="updateTextInput(this.value);">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<script>
    function updateTextInput(val) {
        document.getElementById('sliderValue').value=val;
    }
</script>