<div class="row">
    <div class="col-sm-2">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg"></div>
    </div>
    <div class="col-sm-8">
        <h1>{{object.name}}</h1>
        <div class="container-fluid">
            <h2>List of project's tasks</h2>

            <!--To Search by name task-->
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

            <div class="row">
                <!-- To Search by person assignee-->
                <div class="form-group col-sm-2">
                    <label for="assignee">Status:</label>
                    <select class="form-control" name="assignee" id="assignee"  onchange="myFunction2()" value = "">
                            <option></option>
                        {{# each users}}
                            <option>{{this.firstname}} {{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <!--To Search by Status-->
                <div class="form-group col-sm-2">
                    <label for="status">Assigned to:</label>
                    <select class="form-control" name="status" id="status"  onchange="myFunction3()" value = "">
                        <option></option>
                        {{# each status}}
                            <option>{{this.name}} </option>
                        {{/each}}
                    </select>
                </div>
            </div>


            <table id ="myTable" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Assigned to</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit task</th>
                    <th scope="col">Delete task</th>
                </tr>
                </thead>

                <tbody>

                {{#each tasks}}

                    <tr>

                        <td> <a href="/task/{{this._id}}">{{this.name}}</a></td>
                        <td>{{this.assignee.firstname}} {{this.assignee.name}}</td>
                        <td>{{this.status.name}}</td>
                        <td><a href="/task/{{this._id}}/modify"><i class="fas fa-edit"></i></a></td>
                        <td><a href="/task/{{this._id}}/delete"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>

                {{/each}}

                </tbody>
            </table>
            <a href="/project/{{object._id}}/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-bottom : 10px">Add new task to the project</a>

        </div>
    </div>
</div>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("assignee");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction3() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("status");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

