<div class="row">
    <div class="col-sm-2">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg"></div>
    </div>
    <div class="col-sm-8">
        <h1>{{task.name}}</h1>
        <div class="container-fluid">
            <div class="row">
                <h2 class="col-sm-3">Task's details</h2>
                <a href="/task/{{task._id}}/delete" style="margin-bottom:10px; margin-right: 10px" class="btn btn-primary btn-lg active col-sm-2" role="button" aria-pressed="true" >Delete task</a>
                <a href="/task/{{task._id}}/modify" style="margin-bottom: 10px" class="btn btn-primary btn-lg active col-sm-2" role="button" aria-pressed="true" >Modify task</a>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Project</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Progress</th>
                </tr>
                </thead>

                <tbody>
                    <tr>

                        <td> <a href="/task/{{task._id}}">{{task.name}}</a></td>
                        <td>{{task.description}}</td>
                        <td><a href="/project/{{task.project._id}}">{{task.project.name}}</a></td>
                        <td>{{task.status.name}}</td>
                        <td>{{task.formatted_start_date}}</td>
                        <td>{{task.formatted_due_date}}</td>
                        <td>
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100">{{task.progress}}</div>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container-fluid">
            <h2>Task's history</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Entry</th>
                </tr>
                </thead>

                <tbody>

                {{#each history}}

                    <tr>
                        <td>{{this.author.name}} {{this.author.lastname}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.entry}}</td>
                    </tr>

                {{/each}}

                </tbody>
            </table>

            <div class="container-fluid">
                <form action="" method="post">

                    <div class="form-group">
                        <label for="entry">Your message</label>
                        <input type="string" class="form-control" name="entry" placeholder="Enter your message">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

